.DS_Store
node_modules/
/dist

# local env files
.dev.env
.env

backend_go/bin

#DB
/db
/db_dev
/db_stage*
data.sqlite
*.sqlite

#ItemToken seeders
itemTokenSeeds.js
itemTokens.sql

#yml files (only example)
*.yml
!*example.yml

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
