# In the dev env file every variable except BASE_URL needs "VUE_APP_" prefix
# Plaid credentials go here (don't use quotes)
VUE_APP_PLAID_CLIENT_ID=XXX
VUE_APP_PLAID_PUBLIC_KEY=XXX
VUE_APP_PLAID_SECRET_DEVELOPMENT=XXX
VUE_APP_PLAID_SECRET_SANDBOX=XXX
# SaltEdge credentials go here (don't use quotes)
VUE_APP_SALTEDGE_APP_ID=XXX
VUE_APP_SALTEDGE_APP_SECRET=XXX
VUE_APP_SALTEDGE_CUSTOMER_ID=XXX
# Your base URL goes here, used for SaltEdge redirects on success
BASE_URL=https://fintrack.DOMAIN.TLD
# This can be either 'development' or 'sandbox' (no quotes), affects Plaid only
VUE_APP_PLAID_ENVIRONMENT=sandbox
# This is an all-caps string for currencies reported by the ECB - pick one from:
# (https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html)
VUE_APP_BASE_CURRENCY=USD
# Values can be 'TRUE' or 'FALSE' to turn off either API if you don't need it
VUE_APP_USE_SALTEDGE=TRUE
VUE_APP_USE_PLAID=TRUE